<?xml version="1.0" ?>
<guzzle>
	<clients>
		<client name="pazure" class="Guzzle.Pazure.PazureClient">
			<param name="subscription_id" value="my-subscription-id" />
                        <param name="cert_path" value="my.pem" />
		</client>
	</clients>
</guzzle>
